body {
   text-align: center;
   font-family: sans-serif;
   color: white;
   padding-bottom: 300px;
   background-image: url("background.jpg");
  }
#banner {
 margin-bottom: 20px;  
}
a {
   font-family: sans-serif;
   color: #dbdad7;
   text-decoration: none;
}
a:hover {
   color: white;
}
.khan {
   font-size: 0.7em;
   text-align: center;
   padding: 20px;
   font-family: 'Open Sans', sans-serif;
}
button:hover {
 opacity: 0.8;  
}
button {
   background-color: #942a72
}
