body {
   text-align: center;
   font-family: sans-serif;
   color: white;
   background-image: url("background.jpg");
  }
#banner {
 margin-bottom: 20px;  
}
a {
   font-family: sans-serif;
   color: #dbdad7;
   text-decoration: none;
}
a:hover {
   color: white;
}
